:root {
    --background: white;
    --background-primary: rgba(221, 221, 221, 0.5);
    --text-primary: #2b2b2b;
    /* --accent: purple; */
  }
  [data-theme="dark"] {
    --background: rgb(22, 22, 22);
    --background-primary: rgba(106, 106, 106, 0.5);
    --text-primary: rgb(235, 235, 235);
    --accent: darkred;
  }
  .row {
    --bs-gutter-x: 0;
  }
  
  [data-theme="dark"] .toggle-theme:hover::after {
    content: "Day";
  }
  *{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  .sidebar{
    background: #000;
    color: #fff;
    height: 200vh;
    transition: all 0.5s;
  }
  .top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .link:hover{
    background: blue;
    color: #000;
    transition: all 0.5s;
  }
  .active{
    background: blue;
    color: #000;
  }
  .icon, .link_text{
    font-size: 20px;
  }
  
  